:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-brand-25: #FAFAFA;   /* Lightest (backgrounds) */
  --color-brand-50: #F0F8EE;   /* Very light green tint */
  --color-brand-100: #E0F1DB;  /* Slightly stronger light green */
  --color-brand-200: #C8E6C9;  /* Secondary light green */
  --color-brand-300: #A4D98F;  /* Mid-light green */
  --color-brand-400: #91CF6D;  /* Soft green */
  --color-brand-500: #7AC943;  /* Primary green */
  --color-brand-600: #65B33B;  /* Slightly darker than primary */
  --color-brand-700: #4C9A2A;  /* Dark green */
  --color-brand-800: #3B7D22;  /* Deeper green */
  --color-brand-900: #2F631C;  /* Even darker green */
  --color-brand-950: #1C3A11;  /* Deepest green (almost black) */
}

body {
  margin: 0;
}