@use '../util' as *;


.navbar {
    background-color: $navbar-background-color;
    box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.06);
    padding: rem(12) 0 rem(8);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 42px 12px;
        padding: 0 1rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        h6 {
            margin-top: rem(4);
            color: $dark-grey;
            font-weight: 500;
            text-align: center;
        }

        &.active {
            h6 {
                color: $primary-color;
                font-weight: $font-weight-bold;
            }

            svg {
                path {
                    stroke: $primary-color;
                }
            }

            &.active--pay {
                svg {
                    path {
                        stroke: none;
                        fill: $primary-color;
                    }
                }
            }

            &--home ~ .navbar__ellipse {
                svg {
                    left: 15.5%;
                }
            }

            &--pay ~ .navbar__ellipse {
                svg {
                    left: 49.5%;
                }
            }

            &--transactions ~ .navbar__ellipse {
                svg {
                    left: 82.5%;
                }
            }

            &--settings ~ .navbar__ellipse {
                svg {
                    display: none;
                }
            }
        }
    }

    &__ellipse {
        display: flex;
        align-items: center;
        position: relative;
        grid-column: 1 / 4;

        svg {
            display: block;
            margin: 1px auto;
            position: absolute;
            transition: all 0.3s cubic-bezier(.7,-0.04,.65,.82);
        }
    }
}